@using asistencia.Models
@model List<AsistenciaCLS>

<table class="table table-bordered table-striped dt-responsive">

    <thead>

        <tr>

            <th class="text-center" style="width:10px">#</th>
            <th class="text-center">Fecha</th>
            <th>Empleado</th>
            <th class="text-center">Hora Ingreso</th>
            <th class="text-center">Hora Salida</th>
            <th class="text-center">Justificación</th>
            <th class="text-center">Acciones</th>

        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">@(Model.IndexOf(item) + 1)</td>
            <td class="text-center">@item.fecha</td>
            <td>@item.empleadoAsistencia</td>
            @if (item.atrasos == 0)
            {
                <td class="text-center text-danger">@item.horaIngreso</td>
            }
            else
            {
                <td class="text-center">@item.horaIngreso</td>
            }

            <td class="text-center">@item.horaSalida</td>
            <td class="text-center">@item.observacion</td>
            <td class="text-center">

                <div class="btn-group">

                    @if (item.atrasos == 0)
                    {
                        <button type="button" onclick="Aprobar(@item.idAsistencia)" class="btn btn-warning glyphicon glyphicon-check"></button>
                    }
                    else
                    {
                        <button type="button" onclick="Aprobar(@item.idAsistencia)" class="btn btn-warning glyphicon glyphicon-check" disabled></button>
                    }

                   
                    <button type="button" onclick="Justificar(@item.idAsistencia)" class="btn btn-info glyphicon glyphicon-edit" data-toggle="modal" data-target="#modalEditarJustificacion"></button>

                    </div>

                    </td>

                </tr>

        }


    </tbody>

</table>


